doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Home Page
    body(class=theme)
        h1 Home Page 
        p Thanks for visiting!

        ul 
            li Dark Theme Changes #{analytics.pageViews.dark}
            li Light Theme Changes #{analytics.pageViews.light}
            li Home Theme Changes #{analytics.pageViews.home}
            li Total Page Changes #{analytics.totalViews}